<div class="container">
    <h1>Formulário de Cadastro</h1>
    <form action="" [formGroup]="cadastroEmpresa">
        <div class="container">
            <div class="row">
                <div class="form-group col-4">
                    <label for="tipoEmpresa">Tipo de Empresa</label>
                    <input type="text" class="form-control" id="tipoEmpresa" formControlName="tipoEmpresa"
                        name="tipoEmpresa" placeholder="Digite o tipo de empresa">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-7">
                    <label for="nomeEmpresa">Nome da Empresa*</label>
                    <input type="text" class="form-control" id="nomeEmpresa" formControlName="nomeEmpresa"
                        name="nomeEmpresa" placeholder="Digite o nome da empresa">
                </div>
                <div class="form-group col-5">
                    <label for="cnpjEmpresa">CNPJ da Empresa*</label>
                    <input type="text" class="form-control" id="cnpjEmpresa" formControlName="cnpjEmpresa"
                        name="cnpjEmpresa" placeholder="Digite o CNPJ da empresa">
                </div>
            </div>


            <div class="row">
                <div class="form-group col-3">
                    <label for=" cep">CEP</label>
                    <input type="text" class="form-control" id="cep" formControlName="cep" name="cep"
                        placeholder="Digite o CEP">
                </div>
                <div class="form-group col-1">
                    <label for=" cep"> </label>
                    <button class="btn btn-outline-primary mt-4" (click)="consultaCep()"><i class="bi bi-search"></i></button>
                </div>
                <div class="form-group col-8">
                    <label for="endereco">Endereço</label>
                    <input [disabled]="true" type="text" class="form-control" id="endereco" formControlName="endereco" name="endereco"
                        placeholder="Digite o endereço">
                </div>
            </div>


            <div class="row">
                <div class="form-group col-5">
                    <label for="bairro">Bairro</label>
                    <input type="text" class="form-control" id="bairro" formControlName="bairro" name="bairro"
                        placeholder="Bairro">
                </div>
                <div class="form-group col-5">
                    <label for="cidade">Cidade</label>
                    <input type="text" class="form-control" id="cidade" formControlName="cidade" name="cidade"
                        placeholder="Cidade">
                </div>
                <div class="form-group col-2">
                    <label for="estado">Estado</label>
                    <input type="text" class="form-control" id="estado" formControlName="estado" name="estado"
                        placeholder="UF">
                </div>
            </div>


            <div class="row">
                <div class="form-group col-8">
                    <label for="complemento">Complemento</label>
                    <input type="text" class="form-control" id="complemento" formControlName="complemento"
                        name="complemento" placeholder="Digite o complemento">
                </div>
                <div class="form-group col-4">
                    <label for="celular">Celular*</label>
                    <input type="text" class="form-control" id="celular" formControlName="celular" name="celular"
                        placeholder="Digite o celular">
                </div>
            </div>


            <div class="row">
                <div class="form-group col-8">
                    <label for="nomeAdministrador">Nome do Administrador*</label>
                    <input type="text" class="form-control" id="nomeAdministrador" formControlName="nomeAdministrador"
                        name="nomeAdministrador" placeholder="Digite o nome do Administrador">
                </div>
                <div class="form-group col-4">
                    <label for="cpf">CPF*</label>
                    <input type="text" class="form-control" id="cpf" formControlName="cpf" name="cpf"
                        placeholder="Digite o CPF">
                </div>
            </div>

            <div class="form-group">
                <label for="email">E-Mail*</label>
                <input type="text" class="form-control" id="email" formControlName="email" name="email"
                    placeholder="Digite o Email">
            </div>

            <div class="row mt-3">
                <div class="col-11" style="text-align: right;">
                    <button type="button" class="btn btn-secondary">Cancelar</button>
                </div>
                <div class="col-1" style="text-align: right;">
                    <button type="button" (click)="salvarEmpresa()" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </form>
</div>