<form [formGroup]="cursoForm" (ngSubmit)="salvarCurso()">


 <div class="col-12 md:col-12 xl:col-12">

    <div class="card">
        <div class="text-900 text-xl font-semibold mb-3">Cursos Cadastrados</div>

        <p-table [value]="cursos" responsiveLayout="scroll" [rows]="8" [paginator]="true">
            
            <ng-template pTemplate="header">
                <tr>
                    <th>Curso</th>
                    <th>Instituição</th>
                    <th>Tipo</th>
                    <th>Duração</th>
                    <th style="width: 8rem"></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-curso>
                <tr>
                    <td>{{ curso.nome_curso }}</td>
                    <td>{{ curso.instituicao }}</td>
                    <td>{{ curso.tipo_certificado }}</td>
                    <td>
                        <ng-container *ngIf="curso.duracao_horas">
                            {{ curso.duracao_horas }}h
                        </ng-container>
                        <ng-container *ngIf="curso.duracao_meses">
                            {{ curso.duracao_meses }} mês(es)
                        </ng-container>
                    </td>
                    <td class="text-center">
                        <button pButton pRipple icon="pi pi-trash"
                            class="p-button-danger p-button-text p-button-rounded mr-2"></button>

                      <!--   <button pButton pRipple icon="pi pi-search"
                            class="p-button-text p-button-rounded"></button> -->
                    </td>
                </tr>
            </ng-template>

        </p-table>

    </div>
</div>






    <div class="grid">
        <!-- Coluna Esquerda -->
        <div class="col-12 md:col-6">
            <div class="card p-fluid">
                <h5>Cursos complementares</h5>

                <p-toast></p-toast>

                <div class="field">
                    <label for="nome_curso">Nome do curso</label>
                    <input pInputText id="nome_curso" type="text" formControlName="nome_curso" />
                </div>

                <div class="field">
                    <label for="instituicao">Instituição</label>
                    <input pInputText id="instituicao" type="text" formControlName="instituicao" />
                </div>

                <div class="field">
                    <label for="tipo_certificado">Tipo de certificado</label>
                    <input pInputText id="tipo_certificado" type="text" formControlName="tipo_certificado" />
                </div>

            </div>
        </div>

        <!-- Coluna Direita -->
        <div class="col-12 md:col-6">
            <div class="card">
                <h5>Duração</h5>

                <div class="formgroup-inline">

                    <div class="field">
                        <label for="duracao_horas" class="p-sr-only">Horas</label>
                        <input pInputText id="duracao_horas" type="text" placeholder="Horas"
                            formControlName="duracao_horas" />
                    </div>

                    <div class="field">
                        <label for="duracao_meses" class="p-sr-only">Meses</label>
                        <input pInputText id="duracao_meses" type="text" placeholder="Meses"
                            formControlName="duracao_meses" />
                    </div>

                    <button pButton label="Salvar" type="submit"></button>

                </div>
            </div>
        </div>

    </div>
</form>