<div class="grid">
    <div class="col-12 md:col-6">
        <div class="card p-fluid">
            <h5>Cursos complementares</h5>
            <div class="field">
                <label htmlFor="name1">Nome do curso</label>
                <input pInputText id="name1" type="text" />
            </div>
            <div class="field">
                <label htmlFor="email1">Instituição</label>
                <input pInputText id="email1" type="text" />
            </div>
            <div class="field">
                <label htmlFor="age1">Tipo de certificado ( complementar, profissionalizante, etc... )</label>
                <input pInputText id="age1" type="text" />
            </div>
        </div>
    </div>

    <div class="col-12 md:col-6">
       

        <div class="card">
            <h5>Duração</h5>
            <div class="formgroup-inline">
                <div class="field">
                    <label htmlFor="firstname1" class="p-sr-only">Horas</label>
                    <input pInputText id="Horas" type="text" placeholder="Firstname" />
                </div>
                <div class="field">
                    <label htmlFor="lastname1" class="p-sr-only">Meses</label>
                    <input pInputText id="Meses" type="text" placeholder="Lastname" />
                </div>
                <button pButton label="Salvar"></button>
            </div>
        </div>
    </div>

   
</div>
