<div class="grid">
    <div class="col-12 md:col-6">
        <div class="card p-fluid">
            <h5>Trabalhos temporários ou complementares</h5>
            <div class="field">
                <label htmlFor="name1">Breve descrição de função ou atividade</label>
                <input pInputText id="name1" type="text" />
            </div>
            <div class="field">
                <label htmlFor="email1">Data de realização</label>
                <input pInputText id="email1" type="text" />
            </div>
            <div class="field">
                <label htmlFor="age1">Duração</label>
                <input pInputText id="age1" type="text" />
            </div>
        </div>
    </div>

    <div class="col-12 md:col-6">

        <div class="card">
            <h5>Empresa ou cliente</h5>
            <div class="formgroup-inline">
                <div class="field">
                    <label htmlFor="firstname1" class="p-sr-only">Nome</label>
                    <input pInputText id="firstname1" type="text" placeholder="Nome" />
                </div>
                <div class="field">
                    <label htmlFor="lastname1" class="p-sr-only">Contato</label>
                    <input pInputText id="lastname1" type="text" placeholder="Contato" />
                </div>
                <button pButton label="Submit"></button>
            </div>
        </div>
    </div>

</div>