<div class="grid">
    <div class="col-12 md:col-6">
        <div class="card p-fluid">
            <h5>Empresa</h5>
            <div class="field">
                <label htmlFor="name1">Nome da empresa</label>
                <input pInputText id="name1" type="text" />
            </div>
            <div class="field">
                <label htmlFor="email1">Data de entrada</label>
                <input pInputText id="email1" type="text" />
            </div>
            <div class="field">
                <label htmlFor="age1">Data de saída</label>
                <input pInputText id="age1" type="text" />
            </div>
        </div>
    </div>

    <div class="col-12 md:col-6">
        <div class="card p-fluid">
            <h5>Chefe ou líder de setor</h5>
            <div class="field grid">
                <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Nome</label>
                <div class="col-12 md:col-10">
                    <input pInputText id="name3" type="text" />
                </div>
            </div>
            <div class="field grid">
                <label htmlFor="email3" class="col-12 mb-2 md:col-2 md:mb-0">Contato</label>
                <div class="col-12 md:col-10">
                    <input pInputText id="email3" type="text" />
                </div>
            </div>
        </div>

        <div class="card">
            <h5>Cargo ou função</h5>
            <div class="field p-fluid">
                <label htmlFor="username">Cargo ou função</label>
                <input pInputText id="username" type="text" />
                <small>Cargo ou função realizada de forma resumida</small>
            </div>
        </div>
    </div>
</div>
