<div class="grid">


    <div class="col-12 md:col-6">
        <div class="card">
            <h5>Ensino fundamental</h5>
            <div class="formgroup-inline">
                <div class="field">
                    <label htmlFor="Instituição" class="p-sr-only">Instituição</label>
                    <input pInputText id="Instituição" type="text" placeholder="Instituição" />
                </div>
                <div class="field">
                    <label htmlFor="Ano de Conclusão" class="p-sr-only">Ano de conclusão</label>
                    <input pInputText id="Ano de Conclusão" type="text" placeholder="Ano de Conclusão" />
                </div>
                <button pButton label="Salvar"></button>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="card">
            <h5>Ensino Médio</h5>
            <div class="formgroup-inline">
                <div class="field">
                    <label htmlFor="Instituição" class="p-sr-only">Instituição</label>
                    <input pInputText id="Instituição" type="text" placeholder="Instituição" />
                </div>
                <div class="field">
                    <label htmlFor="Ano de Conclusão" class="p-sr-only">Ano de conclusão</label>
                    <input pInputText id="Ano de Conclusão" type="text" placeholder="Ano de Conclusão" />
                </div>
                <button pButton label="Salvar"></button>
            </div>
        </div>
    </div>


</div>