<div class="grid">
    <div class="col-12 md:col-12">
        <div class="card p-fluid">
            <h5>PIX</h5>
            <div class="field">
                <label htmlFor="name1">Chave PIX</label>
                <input pInputText id="name1" type="text" />
            </div>
            <div class="field">
                <label htmlFor="email1">Titular</label>
                <input pInputText id="email1" type="text" />
            </div>
            <div class="field">
                <label htmlFor="age1">CPF do titular</label>
                <input pInputText id="age1" type="text" />
            </div>
        </div>

    </div>

 
   
</div>
