<div class="grid">
    <div class="col-12 md:col-6">
        <div class="card p-fluid">
            <h5>Instituição</h5>
            <div class="field">
                <label htmlFor="name1">Nome</label>
                <input pInputText id="name1" type="text" />
            </div>
            <div class="field">
                <label htmlFor="email1">Cidade/estado</label>
                <input pInputText id="email1" type="text" />
            </div>
        </div>

        <div class="card p-fluid">
            <h5>Curso</h5>
            <div class="p-formgrid grid">
                <div class="field col">
                    <label htmlFor="name2">Nome</label>
                    <input pInputText id="name2" type="text" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-6">
        <div class="card p-fluid">
            <h5>Nível (Bacharelado ou Licenciatura)</h5>
            <div class="field grid">
                <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Nível</label>
                <div class="col-12 md:col-10">
                    <input pInputText id="name3" type="text" />
                </div>
            </div>
        </div>

        <div class="card">
            <h5>Duração</h5>
            <div class="formgroup-inline">
                <div class="field">
                    <label htmlFor="firstname1" class="p-sr-only">Data de início</label>
                    <input pInputText id="firstname1" type="text" placeholder="Data de início" />
                </div>
                <div class="field">
                    <label htmlFor="lastname1" class="p-sr-only">Data final</label>
                    <input pInputText id="lastname1" type="text" placeholder="Data final" />
                </div>
                <button pButton label="Submit"></button>
            </div>
        </div>
    </div>

</div>
